   #sel{
            background-color: rgb(203, 204, 202);
        }
        body{
             background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.zYXnUvde-qSut7_qUevhTQHaE9%26pid%3DApi&f=1);
             background-repeat: no-repeat;
             background-size: 100%;
             background-color: gray;
        }
        table{
            background-color: rgb(253, 253, 245);
        }
        #rcb{
            background-color: rgb(236, 73, 73);
        }
        #csk{
            background-color: rgb(250, 250, 17);
        }
        #dc{
            background-color: rgb(40, 162, 243);
        }
        #mi{
            background-color: rgb(5, 107, 202) ;
        }
        #wo{
            background-color: green;
        }
        #lo{
            background-color: red;
        }
        #kkr{
            background-color: rgb(15, 24, 146);
        }
        #rr{
            background-color: plum;
        }
        #pk{
            background-color: rgb(240, 118, 118);
        }
        #srh{
            background-color: rgb(245, 147, 20);
        }
        .nrr{
            background-color: rgb(228, 224, 224);
        }
        #primary{
            color: blanchedalmond;
        }
