.box {
  background-color: rgb(252, 249, 246);
  text-align: center;
  padding: 7px;
  display: none;
  /* margin: 5px; */
}
@media (min-width: 100px) and (max-width: 200px) {
  #box4 {
    display: block;
    background-color: coral;
  }
}
@media (min-width: 200px) and (max-width: 400px) {
  #box3 {
    display: block;
    background-color: rgb(92, 235, 35);
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  #box2 {
    display: block;
    background-color: rgb(24, 69, 214);
  }
}
@media (min-width: 600px) {
  #box1 {
    display: block;
    background-color: rgb(207, 28, 207);
  }
}
