*{
    box-sizing: border-box;
}
body{
    background-image: url(https://is.gd/PCLMev);
    background-repeat: space ;
    background-color: yellow;
}
.container{
     width: 555px; 
     border: 4px solid black;
      margin: 6px auto;
      background-image: url(https://is.gd/m4sSXy);
}
.item{
    border: 2px solid black;
    margin: 10px;
    padding: 12px 12px;
    background: rgb(156, 194, 194);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px ;
}
.para{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#computer{
     background-image: url(https://is.gd/zBUnlR); 
    float: left;
    width: 45%;
}
#fruits{
    background-image: url(https://is.gd/0b3LgL);
    background-position: center left;
    float: left;
    width: 46%;
    height: 220px;
}
#games{
    /* float: left; */
    background-image: url(https://is.gd/qIvWuZ);
    background-position: center right;
    clear: both;
    width: 95%;
}
#Laptop{
    background-image: url(https://is.gd/FTAuNf);
    background-position: center right;
}
h1{
    margin: auto;
    width: 655px;
    text-align: center;
    border: 2px solid rgb(217, 228, 5);
    background-image: url(https://is.gd/gh9rJE);
    background-position: center right;
    padding-top: 4px;
    border-radius: 10px;
    color: rgb(230, 5, 5);
}
a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
a:hover{
    color: rgb(197, 247, 14);
     background-color: rgb(52, 194, 52); 
}
a:visited{
    color: ghostwhite;
}

#fruits1{
    color: rgb(230, 230, 48);
}
#games1{
    color: rgb(106, 191, 21);
}
#laptop1{
    color: red;
}
#computer1{
    color: blue;
}
.car{
    margin:4px auto;
    width: 280px;
    border: 4px solid yellow;
}
.primary{
    color: rgb(10, 10, 10);
    text-align: center;
}
#hg1{
    color: rgb(7, 7, 6);
    line-height: 1em;
    margin: 4px 100px;
}
#btn{
    margin: 4px 87px;
    color: rgb(19, 18, 18);
    background-color: darksalmon;
    border: 2px solid rgb(208, 27, 14);
    font-weight: bold;
    cursor: pointer;
}
#btn:hover{
    color: rgb(235, 229, 229);
    background-color: rgb(15, 15, 15);
    border: none;
}